{% extends "base_layout.html" %}
{% load extras_utils2  %}
{% block page_title %}
<h4><i class="glyphicon glyphicon-list-alt"></i> {{ object.name|  capfirst }} District</h4>
{% endblock page_title %}


{% block content %}
{% if object %}
    <div class="row">
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>Name of the District : </dt>
                <p> {{object.name}}</p>
                <dt>Code of the District : </dt>
                <p> {{object.code}}</p>
                <dt>Province : </dt>
                <p> {{object.province}}</p>
            </dl>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
              <li {% block activebeneficiary %}class="active"{% endblock activebeneficiary %} >
                <a href="#beneficiary"   data-toggle="tab">Beneficiary</a>
              </li>
              <li {% block activereception %}{% endblock activereception %} >
                <a href="#reception"   data-toggle="tab">Received Stock</a>
              </li>
              <li {% block activefinal %}{% endblock activefinal %} >
                <a href="#final"   data-toggle="tab">Final Stock</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane {% block activebeneficiary1 %}active{% endblock activebeneficiary1 %}" id="beneficiary">
                <h4><i class="glyphicon glyphicon-comment"></i></h4>
                    {% block beneficiary %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                            <thead>
                              <tr>
                                <th data-footer-formatter="totalTextFormatter">CDS</th>
                                {% for header in headers_benef %}
                                  <th data-footer-formatter="sumFormatter">{{header.beneficiaires}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_benef  %}
                                <tr>
                                <td><a href="{% url 'cds_detail' pk=i.cds.id %} " class="btn btn_link">{{i.cds}}</a></td>
                                {% for t in headers_benef  %}
                                    <td>{{i|getit:t.beneficiaires}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>

                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock beneficiary %}
                  </div>
                  <div class="tab-pane {% block activereception1 %}{% endblock activereception1 %}" id="reception">
                    <h4><i class="glyphicon glyphicon-cog"></i></h4>
                    {% block reception %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                            <thead>
                              <tr>
                                <th data-footer-formatter="totalTextFormatter">CDS</th>
                                {% for header in headers_recept %}
                                  <th data-footer-formatter="sumFormatter">{{header.products}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_reception  %}
                                <tr>
                                <td><a href="{% url 'cds_detail' pk=i.cds.id %} " class="btn btn_link">{{i.cds}}</a></td>
                                {% for t in headers_recept  %}
                                  <td>{{i|getit:t.products}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock reception %}
                  </div>
                  <div class="tab-pane {% block activefinal1 %}{% endblock activefinal1 %}" id="final">
                    <h4><i class="glyphicon glyphicon-list-alt"></i></h4>
                    {% block final %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                            <thead>
                              <tr>
                                <th data-footer-formatter="totalTextFormatter">CDS</th>
                                {% for header in headers_recept %}
                                  <th data-footer-formatter="sumFormatter">{{header.products}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_remain  %}
                                <tr>
                                <td><a href="{% url 'cds_detail' pk=i.cds.id %} " class="btn btn_link">{{i.cds}}</a></td>
                                {% for t in headers_recept  %}
                                  <td>{{i|getit:t.products}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock final %}
                  </div>
        </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% else %}
No Patient in this District
{% endif %}
{% endblock content %}