{% extends "base_layout.html" %}
{% load i18n %}
{% block content %}
<div >
    
<h2>{{ user.name|title }}'s Profile</h2>

<div class="container">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <form method="post" action="" class="form-horizontal">
    {% csrf_token %}

    {% if form %}
                {% for field in form %}
                <div class="form-group">
                    <div>{{ field.label_tag }} </div>
                    <div>{{ field }}</div>
                </div>
                    {% for error in field.errors %}
                      <p  style="color: red;">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
             <input type="submit" value="Edit">
        </form>
    </div>
</div>
</div>
<div class="row">
    <button class="btn btn-default"><a href="{% url 'password_change' %}">{% trans "Change Password" %}</a></button>
</div>

</div>
{% endblock %}
