{% extends "base_layout.html" %}

{% block content %}
<div class="right_col" role="main">
    
{% if messages %}
<div class="row">
    <div class="messages col-md-6">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
</div>
<div class="row">
    <h2>Profil de {{ object.user.name|  capfirst }} </h2>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <dl  class="dl-horizontal">
            <dt>Nom d'utilisateur:</dt>
                <p>{{ object.user.name }}</p>
            {% if object.user.first_name%}
            <dt>Prénom :</dt>
                <p>{{ object.user.first_name }}</p>
            {% endif %}
            {% if object.user.email %}
            <dt> Émail  :</dt>
                <p>{{ object.user.email  }}</p>
            {% endif %}
            {% if object.user.last_name%}
            <dt>Nom :</dt>
                <p>{{ object.user.last_name }}</p>
            {% endif %}
            {% if object.telephone%}
            <dt>Téléphone :</dt>
                <p>{{ object.telephone }}</p>
            {% endif %}
            {% if object.level%}
            <dt>Niveau :</dt>
                <p>{{ object.level }}</p>
            {% endif %}
            {% if object.moh_facility%}
            <dt>Code  : </dt>
                <p>{{ object.moh_facility }}</p>
            {% endif %}
            {% if object.facility%}
            <dt>{{ object.level }} nom :  </dt>
                <p>  {{ object.facility }}</p>
            {% endif %}
        </dl>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
</div>
{% if object.user.name == user.name %}
<p><a href="{% url 'profileuser_update' pk=user.id %}">Éditer mon profil</a></p>
{% endif %}
</div>
{% endblock %}
