{% extends "base_layout.html" %}

{% block content %}
<h2>{{ object.user.name|  capfirst }} ' s Profile</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <dl  class="dl-horizontal">
            <dt>Name :</dt>
                <p>{{ object.user.name }}</p>
            {% if object.user.first_name%}
            <dt>First name :</dt>
                <p>{{ object.user.first_name }}</p>
            {% endif %}
            {% if object.user.last_name%}
            <dt>Last name :</dt>
                <p>{{ object.user.last_name }}</p>
            {% endif %}
            {% if object.telephone%}
            <dt>Telephone :</dt>
                <p>{{ object.telephone }}</p>
            {% endif %}
            {% if object.level%}
            <dt>Level :</dt>
                <p>{{ object.level }}</p>
            {% endif %}
            {% if object.moh_facility%}
            <dt>MoH facility code : </dt>
                <p>{{ object.moh_facility }}</p>
            {% endif %}
            {% if object.facility%}
            <dt>{{ object.level }} name :  </dt>
                <p>  {{ object.facility }}</p>
            {% endif %}
        </dl>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% if object.user.name == user.name %}
<p><a href="{% url 'profileuser_update' pk=user.id %}">Edit my profile</a></p>
{% endif %}
{% endblock %}
