{% extends "base_layout.html" %}
{% load extras_utils2  %}
{% block page_title %}
<h5><i class="glyphicon glyphicon-list-alt"></i> {{ object.name|  capfirst }} Province</h5>
{% endblock page_title %}

{% block content %}
{% if object %}
    <div class="row">
        <div class="col-md-3">
           <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">{{object.name}}</span>
              Name of the Province :
            </li>
            <li class="list-group-item">
              <span class="badge">{{object.code}}</span>
              Code of the Province :
            </li>
            <li class="list-group-item">
                <span class="badge" id="pop_total">{{pop_total.population_cible}}</span>
                 Population :
              </li>
           </ul>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
              <li {% block activebeneficiary %}class="active"{% endblock activebeneficiary %} >
                <a href="#beneficiary"   data-toggle="tab">Bénéficiaires</a>
              </li>
              <li {% block activereception %}{% endblock activereception %} >
                <a href="#reception"   data-toggle="tab">Stocks Reçus</a>
              </li>
              <li {% block activefinal %}{% endblock activefinal %} >
                <a href="#final"   data-toggle="tab">Stock Final</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane {% block activebeneficiary1 %}active{% endblock activebeneficiary1 %}" id="beneficiary">
                <h5><i class="glyphicon glyphicon-comment"></i> {{mycampaign|default:"The Beginning"}} du {{mycampaign.start_date|date:"d M, Y"}} au {{mycampaign.end_date|date:"d M, Y"}}</h5>
                    {% block beneficiary %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                            <thead>
                              <tr>
                                <th data-footer-formatter="totalTextFormatter">District</th>
                                {% for header in headers_benef %}
                                  <th data-footer-formatter="benefFormatter">{{header.beneficiaires}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_benef  %}
                                <tr>
                                <td><a href="{% url 'district_detail' pk=i.district.id %} " class="btn btn_link">{{i.district}}</a></td>
                                {% for t in headers_benef  %}
                                    <td>{{i|get_item:t.beneficiaires}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>

                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock beneficiary %}
                  </div>
                  <div class="tab-pane {% block activereception1 %}{% endblock activereception1 %}" id="reception">
                    <h5><i class="glyphicon glyphicon-cog"></i>  {{mycampaign|default:"The Beginning"}} du {{mycampaign.start_date|date:"d M, Y"}} au {{mycampaign.end_date|date:"d M, Y"}}</h5>
                    {% block reception %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                            <thead>
                              <tr>
                                <th data-footer-formatter="totalTextFormatter">District</th>
                                {% for header in headers_recept %}
                                  <th data-footer-formatter="sumFormatter">{{header.products}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_reception  %}
                                <tr>
                                <td><a href="{% url 'district_detail' pk=i.district.id %} " class="btn btn_link">{{i.district}}</a></td>
                                {% for t in headers_recept  %}
                                  <td>{{i|get_item:t.products|default:0|floatformat:"0"}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock reception %}
                  </div>
                  <div class="tab-pane {% block activefinal1 %}{% endblock activefinal1 %}" id="final">
                    <h5><i class="glyphicon glyphicon-list-alt"></i> {{mycampaign|default:"The Beginning"}} du {{mycampaign.start_date|date:"d M, Y"}} au {{mycampaign.end_date|date:"d M, Y"}}</h5>
                    {% block final %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                            <thead>
                              <tr>
                                <th data-footer-formatter="consumptionTextFormatter">District</th>
                                {% for header in headers_recept %}
                                  <th data-footer-formatter="consumptionFormatter" >{{header.products}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_remain  %}
                                <tr>
                                <td><a href="{% url 'district_detail' pk=i.district.id %} " class="btn btn_link">{{i.district}}</a></td>
                                {% for t in headers_recept  %}
                                  <td>{{i|get_item:t.products|default:0|floatformat:"0"}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock final %}
                  </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% else %}
No Patient in this Province
{% endif %}
<script>
  function consumptionTextFormatter(data) {
          return '<strong class="text-primary" >Consommé</strong>';
      };

function consumptionFormatter(data) {
        var recus = "{{recus|safe}}";
        recus = eval( "(" + recus + ")" );
        var total = 0;
        field = this.field;
        var last = Array( data[data.length - 1]);
        $.each(last, function (i, row) {
              total += +(parseFloat((row[field]).replace(',','').replace(' ','').replace('&nbsp;','')));
          });
        pourcentage =  (total/recus[this.title] )*100;
        consomme = recus[this.title] - total;
        if (pourcentage >=75) {
          return '<strong class="text-danger" >' + consomme + '</strong>';

        }
        else{
           return '<strong class="text-primary" >' + consomme +'</strong>' ;
        }
      };

</script>
{% endblock content %}
