{% extends "base_layout.html" %}
{% load extras_utils2  %}
{% block page_title %}
<h5><i class="glyphicon glyphicon-list-alt"></i> {{ object.name|  capfirst }} Province</h5>
{% endblock page_title %}

{% block content %}
{% if object %}
    <div class="row">
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>Name of the Province : </dt>
                <p> {{object.name}}</p>
                <dt>Pop total attendue: </dt>
                <p id="pop_total"> {{pop_total.population_cible}}</p>
                <dt>Code of the Province : </dt>
                <p> {{object.code}}</p>
            </dl>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
              <li {% block activebeneficiary %}class="active"{% endblock activebeneficiary %} >
                <a href="#beneficiary"   data-toggle="tab">Beneficiary</a>
              </li>
              <li {% block activereception %}{% endblock activereception %} >
                <a href="#reception"   data-toggle="tab">Received Stock</a>
              </li>
              <li {% block activefinal %}{% endblock activefinal %} >
                <a href="#final"   data-toggle="tab">Final Stock</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane {% block activebeneficiary1 %}active{% endblock activebeneficiary1 %}" id="beneficiary">
                <h5><i class="glyphicon glyphicon-comment"></i> {{mycampaign|default:"The Beginning"}} du {{mycampaign.start_date|date:"d M, Y"}} au {{mycampaign.end_date|date:"d M, Y"}}</h5>
                    {% block beneficiary %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                            <thead>
                              <tr>
                                <th data-footer-formatter="totalTextFormatter">District</th>
                                {% for header in headers_benef %}
                                  <th data-footer-formatter="benefFormatter">{{header.beneficiaires}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_benef  %}
                                <tr>
                                <td><a href="{% url 'district_detail' pk=i.district.id %} " class="btn btn_link">{{i.district}}</a></td>
                                {% for t in headers_benef  %}
                                    <td>{{i|getit:t.beneficiaires}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>

                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock beneficiary %}
                  </div>
                  <div class="tab-pane {% block activereception1 %}{% endblock activereception1 %}" id="reception">
                    <h5><i class="glyphicon glyphicon-cog"></i>  {{mycampaign|default:"The Beginning"}} du {{mycampaign.start_date|date:"d M, Y"}} au {{mycampaign.end_date|date:"d M, Y"}}</h5>
                    {% block reception %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                            <thead>
                              <tr>
                                <th data-footer-formatter="totalTextFormatter">District</th>
                                {% for header in headers_recept %}
                                  <th data-footer-formatter="sumFormatter">{{header.products}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_reception  %}
                                <tr>
                                <td><a href="{% url 'district_detail' pk=i.district.id %} " class="btn btn_link">{{i.district}}</a></td>
                                {% for t in headers_recept  %}
                                  <td>{{i|getit:t.products}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock reception %}
                  </div>
                  <div class="tab-pane {% block activefinal1 %}{% endblock activefinal1 %}" id="final">
                    <h5><i class="glyphicon glyphicon-list-alt"></i> {{mycampaign|default:"The Beginning"}} du {{mycampaign.start_date|date:"d M, Y"}} au {{mycampaign.end_date|date:"d M, Y"}}</h5>
                    {% block final %}
                        <div class="col-md-11">
                          <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] >
                            <thead>
                              <tr>
                                <th data-footer-formatter="consumptionTextFormatter">District</th>
                                {% for header in headers_recept %}
                                  <th >{{header.products}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in body_remain  %}
                                <tr>
                                <td><a href="{% url 'district_detail' pk=i.district.id %} " class="btn btn_link">{{i.district}}</a></td>
                                {% for t in headers_recept  %}
                                  <td>{{i|getit:t.products}}</td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-1"></div>
                    {% endblock final %}
                  </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% else %}
No Patient in this Province
{% endif %}
{% endblock content %}