{% extends "base_layout.html" %}
{% load extras_utils %}

{% block title %}
 Provinces
{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  {% include "ssme_activities/stylesheets.html" %}
{% endblock stylesheets %}

{% block content %}
<div >
    
{% if object_list %}
    <div class="page-title">
            <div class="title_left">
              <h3>Liste des provinces</h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
        </div>
    <div>
    <div >
          <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
    {% for province in object_list %}
            <tr>
                {% with province.id as code  %}
                    <td><a href="{% url 'province_detail' pk=code %} " class="btn btn_link">{{ province.name}}</a></td>
                    <td>{{ province.code }}</td>

                {% endwith %}
            </tr>
        {% endfor %}
          </table>
      </div>
  </div>
{% else %}

    <p>No Provinces found!!! :(</p>
{% endif %}
</div>
{% endblock content %}