{% extends "base_layout.html" %}
{% load extras_utils2  i18n %}
{% block title %} Rapport Beneficiaires {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
  {% include "ssme_activities/stylesheets.html" %}
{% endblock stylesheets %}

{% block content %}
        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>{{mycampaign|default:"The Beginning"}} du {{mycampaign.start_date|date:"d M, Y"}} au {{mycampaign.end_date|date:"d M, Y"}} au niveau de {{mymoh_facility}}</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
            {% block beneficiary %}
            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                <thead>
                  <tr>
                    <th >Date</th>
                    {% for header in headers_benef %}
                        <th >{{header.beneficiaires}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                    {% for i in body_benef  %}
                    <tr>
                        <td>{{i.reception_date|date:"d M, Y"}}</td>
                            {% for t in headers_benef  %}
                        <td>{{i|getit:t.beneficiaires}}</td>
                            {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
            {% endblock beneficiary %}
    </div>
</div>
<script>

function consumptionTextFormatter(data) {
          return '<strong class="text-primary" >Consommé</strong>';
      }

function consumptionFormatter(data) {
        var recus = "{{recus|safe}}";
        recus = eval( "(" + recus + ")" );
        var total = 0;
        field = this.field;
        if (data.length <= 0) {
          return '';
        } else{
          var last = Array( data[data.length - 1]);
          $.each(last, function (i, row) {
                total += +(parseFloat((row[field]).replace(',','').replace(' ','').replace('&nbsp;','')));
            });
          pourcentage =  (total/recus[this.title] )*100;
          consomme = recus[this.title] - total;
          if (pourcentage >=75) {
            return '<strong class="text-danger" >' + consomme + '</strong>';

          }
          else{
             return '<strong class="text-primary" >' + consomme +'</strong>' ;
          }
        }
      }

</script>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  {% include "ssme_activities/datatable_scripts.html" %}
  
{% endblock javascripts %}
