{% extends "base_layout.html" %}
{% load extras_utils2  %}
{% load staticfiles %}
{% block title %}

<ul class="nav nav-tabs">
  <div class="page-header">
    <h5>Rapport au niveau du  {{mymoh_facility}}</h5>
</div>
<li {% block activefinal %}class="active"{% endblock activefinal %} >
    <a href="#final"   data-toggle="tab">Taux de raportage</a>
</li>
</ul>
{% endblock title  %}

{% block content %}
<div >
  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<script src="{% static "js/ssme-rates.js" %}"></script>
<div ng-app="StockApp" ng-controller="StockCtrl">
        <div class="col-md-2" >
            <ul class="nav" >
            <li >
              {% block search_form %}
              <form role="form" class="side-form" >
                <!-- Campain -->
                <div id="campaign-group" class="form-group">
                  <label>Campain</label>
                  <select class="form-control"  ng-model="campaign" ng-options="x.name for x in campaigns track by x.id" ng-change="update_campaign()"></select>
              </div>
              <!-- Days -->
                <div id="day-group" class="form-group">
                  <label>Days</label>
                  <select class="form-control"  ng-model="day" ng-options="x for x in days track by x" ng-change="update_day()"></select>
              </div>
                <!-- Province -->
                <div id="province-group" class="form-group">
                  <label>Province</label>
                  <select class="form-control"  ng-model="province" ng-options="x.name for x in provinces track by x.code" ng-change="update_province()"></select>
              </div>
              <!-- District -->
              <div id="district-group" class="form-group">
                  <label>District</label>
                  <select class="form-control"  ng-model="district" ng-options="x.name for x in districts track by x.code"  ng-change="update_district()" ></select>
              </div>
              <!-- CDS -->
              <div id="cds-group" class="form-group">
                  <label>CDS</label>
                  <select class="form-control"  ng-model="cds" ng-options="x.name for x in cdss track by x.code"  ng-change="update_cds()" ></select>
              </div>
            </form>
            {% endblock search_form %}
            </li>
            </ul>
        </div>
        {% if user.is_superuser %}
        <div class="col-md-8">
            <table class="table table-boredered">
            {% verbatim %}
            <thead>
              <tr>
                <th>Id</th>
                <th>Province</th>
                <th>Stock debut de semaine</th>
                <th>Stock finals</th>
                <th>Beneficiaires</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in raports">
                <td>{{ x.id }}</td>
                <td>{{ x.name }}</td>
                <td>{{x.stock_debut_semaine / x.facilities * 100| number :1 }}</td>
                <td>{{x.stock_finals / x.facilities * 100| number :1 }}</td>
                <td>{{x.beneficiaires / x.facilities * 100| number :1 }}</td>
              </tr>
            </tbody>
            {% endverbatim %}
            </table>
          </div>
        {% endif %}
</div>
</div>
{% endblock content %}
