{% extends "base_layout.html" %}
{% load render_table from django_tables2 %}

{% block page_title %}
<ul class="nav nav-tabs">
  <li {% block activebeneficiary %}class="active"{% endblock activebeneficiary %} ><a href="#beneficiary"   data-toggle="tab">Beneficiary</a></li>
  <li {% block activereception %}{% endblock activereception %} ><a href="#reception"   data-toggle="tab">Reception</a></li>
  <li {% block activefinal %}{% endblock activefinal %} ><a href="#final"   data-toggle="tab">Final</a></li>
{% endblock page_title  %}

{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<div class="col-md-10">
    <div class="tab-content">
    <hr>
              <div class="tab-pane {% block activebeneficiary1 %}active{% endblock activebeneficiary1 %}" id="beneficiary">
                <h4><i class="glyphicon glyphicon-comment"></i></h4>
                {% block beneficiary %}
                    <div class="col-md-11">
                      {% render_table report_benef %}
                    </div>
                    <div class="col-md-1"></div>
                {% endblock beneficiary %}
              </div>
              <div class="tab-pane {% block activereception1 %}{% endblock activereception1 %}" id="reception">
                <h4><i class="glyphicon glyphicon-cog"></i></h4>
                {% block reception %}
                    <div class="col-md-11">
                      {% render_table report_reception %}
                    </div>
                    <div class="col-md-1"></div>
                {% endblock reception %}
              </div>
              <div class="tab-pane {% block activefinal1 %}{% endblock activefinal1 %}" id="final">
                <h4><i class="glyphicon glyphicon-list-alt"></i></h4>
                {% block final %}
                    <div class="col-md-11">
                      {% render_table report_remain %}
                    </div>
                    <div class="col-md-1"></div>
                {% endblock final %}
              </div>
    </div>
</div>
{% endblock content %}