{% extends "base_layout.html" %}
{% load extras_utils2  %}
{% block page_title %}
<ul class="nav nav-tabs">
<div class="page-header">
  <h5>Rapport au niveau du  {{mymoh_facility}} avec comme population attendue <span id="pop_total">{{pop_total.population_cible|default:0}}</span> patients.</h5>
  </div>
  <li {% block activebeneficiary %}class="active"{% endblock activebeneficiary %} >
    <a href="#beneficiary"   data-toggle="tab">Bénéficiaires</a>
  </li>
  </ul>
{% endblock page_title  %}

{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<div class="right_col" role="main">
    <div class="tab-content">
              <div class="tab-pane {% block activebeneficiary1 %}active{% endblock activebeneficiary1 %}" id="beneficiary">
                <h5><i class="glyphicon glyphicon-comment"></i> {{mycampaign|default:"The Beginning"}} du {{mycampaign.start_date|date:"d M, Y"}} au {{mycampaign.end_date|date:"d M, Y"}}</h5>
                {% block beneficiary %}
                    <div class="col-md-11">
                      <table id="table-benef" data-toggle="table" data-search="true" data-show-export="true" data-export-types=['csv','excel'] data-toolbar="#toolbar"
data-show-toggle="true" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" data-show-toggle="true" data-show-footer="true" data-reorderable-columns="true">
                        <thead>
                          <tr>
                            <th >Date</th>
                            {% for header in headers_benef %}
                                <th >{{header.beneficiaires}}</th>
                            {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in body_benef  %}
                            <tr>
                            <td>{{i.reception_date|date:"d M, Y"}}</td>
                            {% for t in headers_benef  %}
                              <td>{{i|getit:t.beneficiaires}}</td>
                            {% endfor %}
                          </tr>
                          {% endfor %}
                        </tbody>

                      </table>
                    </div>
                    <div class="col-md-1"></div>
                {% endblock beneficiary %}
              </div>
    </div>
<script>

function consumptionTextFormatter(data) {
          return '<strong class="text-primary" >Consommé</strong>';
      }

function consumptionFormatter(data) {
        var recus = "{{recus|safe}}";
        recus = eval( "(" + recus + ")" );
        var total = 0;
        field = this.field;
        if (data.length <= 0) {
          return '';
        } else{
          var last = Array( data[data.length - 1]);
          $.each(last, function (i, row) {
                total += +(parseFloat((row[field]).replace(',','').replace(' ','').replace('&nbsp;','')));
            });
          pourcentage =  (total/recus[this.title] )*100;
          consomme = recus[this.title] - total;
          if (pourcentage >=75) {
            return '<strong class="text-danger" >' + consomme + '</strong>';

          }
          else{
             return '<strong class="text-primary" >' + consomme +'</strong>' ;
          }
        }
      }

</script>
</div>
{% endblock content %}
