{% load staticfiles  extras_utils %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
	
	<!-- Highcharts -->
	<script src="https://github.highcharts.com/master/highcharts.src.js"></script>
	<script src="https://github.highcharts.com/master/highcharts-more.js"></script>
	<script src="https://github.highcharts.com/master/modules/exporting.src.js"></script>
	
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">-->
	
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'js/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table/extensions/export/tableExport.js' %}"></script>
    <script src="{% static 'js/bootstrap-table/extensions/export/jquery.base64.js' %}"></script>
    <script src="{% static 'js/bootstrap-table/extensions/export/bootstrap-table-export.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	
    <script type="text/javascript">
      // Change JQueryUI plugin names to fix name collision with Bootstrap.
      $.widget.bridge('uitooltip', $.ui.tooltip);
      $.widget.bridge('uibutton', $.ui.button);
      // on page load
      $(document).ready(function() {
          $( ".datePicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
          if ("{{ campaigns }}") {
            {% for c in campaigns %}
              $('#campaigns').append('<option value="{{ c.id }}">{{ c.start_date }} - {{c.end_date}}</option>');
            {% endfor %}
          }
		  
		  if(window.location.href.indexOf("dashboard") > -1) 
		  {
                participation();
          }
      });
      $(function() {
      $( ".datePicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
      });
      function runningFormatter(value, row, index) {
          return index;
      };
      function totalTextFormatter(data) {
          return '<strong class="text-primary" >Total</strong>';
      };
      function totalFormatter(data) {
          return data.length;
      };
      function sumFormatter(data) {
          var total = 0;
          field = this.field;
          $.each(data, function (i, row) {
                total += +(parseFloat((row[field]).replace(',','').replace(' ','').replace('&nbsp;','')));
            });
          return '<strong>'+ total + '</strong>';
      };
      function benefFormatter(data) {
      var pop_total = parseFloat($("#pop_total").html().replace(',','').replace(' ','').replace('&nbsp;',''));
      var total = 0;
      field = this.field;
      if(pop_total===0){
      $.each(data, function (i, row) {
              total += +(parseFloat((row[field]).replace(',','').replace(' ','').replace('&nbsp;','')));
          });
          return '<strong>'+ total + '</strong>' ;
        }
        else{
          var taux = "{{taux|safe}}";
      taux = eval( "(" + taux + ")" );
      var pop_attendue = (pop_total*taux[this.title]/100);
      $.each(data, function (i, row) {
          total += +(parseFloat((row[field]).replace(',','').replace(' ','').replace('&nbsp;','')));
      
          });
          if (pop_attendue != 0){
            return '<strong>' + total + '</strong>'+ '    [' + ((total*100)/pop_attendue).toFixed(2)+ '%]';
          }
          return '<strong>' + total + '</strong>';
        }
    }
    
      function avgFormatter(data) {
          return sumFormatter.call(this, data) / data.length;
      };
	  
	function isNumber(n) {
		return !isNaN(parseFloat(n)) && isFinite(n);
	}

  

    </script>
    <!-- Google Analytics -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
      ga('send', 'pageview');
    </script>
<!-- End Google Analytics -->
    <script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pivot.min.css' %}">
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/pivot.min.js' %}"></script>
    <script src="{% static 'js/c3_renderers.min.js' %}"></script>
    <script src="{% static 'js/pivot.fr.min.js' %}"></script>
    <script src="{% static 'js/export_renderers.min.js' %}"></script>
    {% block css_section %}
        <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> -->
    {% endblock css_section %}
    <title>SSME - {% block title %}App{% endblock title %} </title>
  </head>
  <body>
<!-- Header -->
<div id="top-nav" class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <!-- <a class="navbar-brand" href="/">SSME Panel</a> -->
    <a class="navbar-brand" href="/">Accueil</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> {{user.name|capfirst}}</a>
            <ul class="dropdown-menu">
            <li><a href="{% url 'profile_user_detail' pk=user.id %}"> Profil</a></li>
              </ul>
            </li>
            {% if mylevel %}
                <li><a href="#">Niveau : {{mylevel}}</a></li>
            {% endif %}
            <!-- <li><a href="{% url 'logout' %}?next=/"><i class="glyphicon glyphicon-lock"></i> Logout</a> -->
      <li><a href="{% url 'logout' %}?next=/"><i class="glyphicon glyphicon-lock"></i> Se déconnecter</a>
            {% else %}
            <li>
                <!-- <a class="page-scroll text-right" href="{% url 'login' %}">Login</a> -->
        <a class="page-scroll text-right" href="{% url 'login' %}">Se connecter</a>
            </li>
        {% endif %}
          </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">

  <!-- upper section -->
  <div class="row">
  <div class="col-sm-2">
      <!-- left -->
      {% if user.is_authenticated %}
      <ul class="nav nav-stacked">
          {% if user.is_superuser %}
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> Créer <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
              {% if user.is_superuser %}
                <li><a href="{% url 'profile_user' %}">Utilisateurs</a></li>
                <li><a href="{% url 'moh_facility' %}">Établissements Sanitaires</a></li>
              {% endif %}
                <li><a href="{% url 'ssme_activities.campaign_create' %}">Campagnes</a></li>
                <li><a href="{% url 'ssme_activities.product_list' %}">Produits</a></li>
                <li><a href="{% url 'ssme_activities.beneficiaire_list' %}">Bénéficiaires</a></li>
              </ul>
          </li>
          {% endif %}
          {% if user|has_group:"CEN" or user.is_superuser %}
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> Raports <span class="caret"></span>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'reports_by_benef' %}">Bénéficiaires</a></li>
                  <li><a href="{% url 'reports_by_received' %}">Stock Reçus</a></li>
                  <li><a href="{% url 'reports_by_remaining' %}">Stock Final</a></li>
              </ul>
          </li>
          <li>
          {% endif %}
          {% if user|has_group:"CDS" %}
            <li>
                <a href="{% url 'reports' %}"  ><i class="glyphicon glyphicon-list-alt"></i> Synthèse CDS</a>
            </li>
            <li>
                <a href="{% url 'cds_detail' pk=mymoh_facility.id %}"  ><i class="glyphicon glyphicon-list-alt"></i> Détails</a>
            </li>
              {% elif user|has_group:"BDS" %}
              <li>
                <a href="{% url 'reports' %}"  ><i class="glyphicon glyphicon-list-alt"></i> Synthèse District</a>
              </li>
              <li>
                <a href="{% url 'district_detail' pk=mymoh_facility.id %}"  ><i class="glyphicon glyphicon-list-alt"></i> Détails {{mymoh_facility.id}}</a>
              </li>
              {% elif user|has_group:"BPS" %}
              <li>
                <a href="{% url 'reports' %}"  ><i class="glyphicon glyphicon-list-alt"></i> Synthèse Province</a>
              </li>
              <li>
                <a href="{% url 'province_detail' pk=mymoh_facility.id %}"  ><i class="glyphicon glyphicon-list-alt"></i> Détails</a>
                </li>
              {% endif %}
          <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> Listes<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% if user|has_group:"BPS" or user|has_group:"CEN" or user.is_superuser %}
                  <li><a href="{% url 'province_list' %}">Provinces</a></li>
                {% endif %}
                {% if user|has_group:"BDS" or user|has_group:"BPS" or user|has_group:"CEN" or user.is_superuser %}
                  <li><a href="{% url 'district_list' %}">Districts</a></li>
                {% endif %}
                {% if user|has_group:"CDS" or user|has_group:"BPS" or user|has_group:"BDS" or user|has_group:"CEN" or user.is_superuser  %}
                  <li><a href="{% url 'cds_list' %}">CDS</a></li>
                {% endif %}
        {% if user.is_superuser %}
                    <li><a href="{% url 'ssme_activities.profileuser_list' %}"> Profil d'utilisateur</a></li>
                {% endif %}
          {% if user.is_staff %}
            <li role="separator" class="divider"></li>
                    <li><a href="{% url 'ssme_activities.campaign_list' %}"> Campagne</a></li>
                    <li><a href="{% url 'ssme_activities.campaignbeneficiary_list' %}">Bénéficiaires</a></li>
                    <li><a href="{% url 'ssme_activities.campaignbeneficiaryproduct_list' %}">Bénéficiaires et Produits</a></li>
                    <li><a href="{% url 'ssme_activities.campaignproduct_list' %}">Produits</a></li>
                    <li><a href="{% url 'ssme_activities.campaigncds_list' %}">C.d.S</a></li>
          {% endif %}
             </ul>
          </li>
          {% endif %}

      </ul>

      <hr>

    </div><!-- /span-2 -->
    <div id="datacontent" class="col-sm-10">

      <!-- column 2 -->
      {% if user.is_authenticated %}
       {% block page_title %}
          <!-- <h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3> -->
      <h3><i class="glyphicon glyphicon-dashboard"></i> Tableau de bord </h3>
          <hr>
       {% endblock page_title %}
        {% endif %}
        {% block actions %}

        {% endblock actions %}
        <div class="container">
          {% block content %}
          <!--  MAIN CONTENT GOES HERE -->
          {% endblock content %}
        </div>
    </div><!--/col-span-10-->

  </div><!--/row-->
  <!-- /upper section -->

  <!-- lower section -->

  </div><!--/row-->

</div><!--/container-->
<!-- /Main -->


<footer class="text-center">&copy; {% now "Y" %} <span class="separator">|</span> Powered by Open-Source technologies. <span class="separator"> | </span>&copy; All Photos by  <a href="http://www.unicef.org"> UNICEF </a>in Burundi</footer>

  <!-- script references -->
  {% block js_footer %}
      <!-- Scrolling Nav JavaScript -->
      <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  {% endblock js_footer %}
  </body>
</html>
