<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}SSME{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">

  <!-- CSS: implied media="all" -->
  {# load compress #}
  {# compress css #}
  {% block styles %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/smartmin_styles.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
  {% endblock %}

  {% block extra-style %}{% endblock %}

  {# endcompress #}
</head>

<body>

  {% block navbar %}
  <header class="navbar navbar-static-top" role="banner">
    <div class="container">

      <div class="navbar-header">
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#smartmin-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
	</button>

	{% block brand %}
	<a class="navbar-brand" href="/">SSME App</a>
	{% endblock brand %}
      </div>

      {% block navigation %}
      <nav class="collapse navbar-collapse" id="smartmin-navbar-collapse" role="navigation">
	<ul class="nav navbar-nav">
	  {% if perms.nsms.text_list %}
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> List<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'province_list' %}">Provinces</a></li>
                <li><a href="{% url 'district_list' %}">Districts</a></li>
                <li><a href="{% url 'cds_list' %}">CDS</a></li>

                {% if user.is_superuser %}
                    <li><a href="{% url 'ssme_activities.profileuser_list' %}"> Profile User</a></li>
                    <li><a href="{% url 'ssme_activities.campaign_list' %}"> Campaign</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'ssme_activities.campaignbeneficiary_list' %}">Campaign Beneficiary</a></li>
                    <li><a href="{% url 'ssme_activities.campaignbeneficiaryproduct_list' %}">Campaign Beneficiary Product</a></li>
                    <li><a href="{% url 'ssme_activities.campaignproduct_list' %}">Campaign Product</a></li>
                {% endif %}
              </ul>
          </li>
          <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> Create <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
              {% if user.is_superuser %}
                <li><a href="{% url 'profile_user' %}">Users</a></li>
                <li><a href="{% url 'moh_facility' %}">Facilities</a></li>
              {% endif %}
                <li><a href="{% url 'ssme_activities.campaign_create' %}">Campaigns</a></li>
                <li><a href="{% url 'ssme_activities.product_list' %}">Products</a></li>
                <li><a href="{% url 'ssme_activities.beneficiaire_list' %}">Beneficiaries</a></li>
              </ul>
          </li>
          <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> Campaigns <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
              {% if user.is_superuser %}
                <li><a href="{% url 'ssme_activities.profileuser_list' %}"> Profile User</a></li>
                <li><a href="{% url 'ssme_activities.campaign_list' %}"> Campaign</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'ssme_activities.campaignbeneficiary_list' %}">Campaign Beneficiary</a></li>
                <li><a href="{% url 'ssme_activities.campaignbeneficiaryproduct_list' %}">Campaign Beneficiary Product</a></li>
                <li><a href="{% url 'ssme_activities.campaignproduct_list' %}">Campaign Product</a></li>
                {% endif %}
              </ul>
          </li>
          {% endif %}
	</ul>

	<ul class="nav navbar-nav navbar-right">
	  {% block login %}
          {% if request.user and request.user.is_authenticated %}
          <li>
            <a href="{% url 'users.user_profile' request.user.id %}" style="float: left;"><i class="glyphicon glyphicon-user"></i>  {{ request.user.name|capfirst }}</a>
            <a href="#" style="float: left;">Level : {{mylevel}}</a>
            <a href="{% url 'users.user_logout' %}?go=/" style="float: right;">Logout</a>
          </li>
          {% else %}
          <li><a href="{% url 'users.user_login' %}">Login</a></li>
          {% endif %}
          {% endblock login %}
	</ul>
      </nav>
      {% endblock navigation %}

    </div>

  </header>
  {% endblock navbar %}

  <div class="container">

    {% load smartmin %}

    {% block content-div %}
    <div class="content">
      {% block messages %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <a class="close" data-dismiss="alert">×</a>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endblock messages %}

      {% block pre-content %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block post-content %}
      {% endblock %}
    </div>
    {% endblock %}

    <footer>
      {% block footer %}
      <a href="http://ssme.unicefburundi.org/"><div class="pull-right" id="footer"></div></a>
      {% endblock %}
    </footer>

  </div> <!-- /container -->

  <!-- JavaScript at the bottom for fast page loading, conditional based on whether we are serving locally -->
  <script>
    if (window.location.hostname == "localhost"){
    document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery.1.11.1.min.js"%3E%3C/script%3E'));
    } else {
    document.write(unescape('%3Cscript src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"%3E%3C/script%3E'));
    }
  </script>

  {# compress js #}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pjax.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  {# media associated with any form we are displaying #}
  {% if form %}
  {{ form.media }}
  {% endif %}

  {% block extra-script %}{% endblock %}
  {% block script %}{% endblock %}
  {# endcompress #}

  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <!--script type="text/javascript">
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
      </script-->

</body>
</html>
