{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSME App</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">SSME App</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">What ?</a>
                    </li>
                    <li>
                        <a href="#contact">How ?</a>
                    </li>
                    {% if user.is_authenticated %}
                            {% if user.is_active %}
                            <li>
                                <a class="page-scroll" href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}?next=/"><i class="glyphicon glyphicon-lock"></i> Logout</a>
                            </li>
                            {% endif %}
                            {% else %}
                            <li>
                                <a class="page-scroll" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>SSME</h1>
                        <h3>Semaine Sante Mere Enfant</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/UNICEFBurundi" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCNJ2vR4Uh9znDgrLhOuE4eg" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Mother and Child Health Week:<br>Special Thanks</h2>
                    <p class="lead">An initiative designed by  <a target="_blank" href="http://www.unicef.org/">UNICEF</a> and implemented by the Ministry of Health (MoH). In Burundi, the SSME has been delivering bed-nets, micro-nutrients, vitamin A, vaccinations and Mebendazole against STHs to pre-school children and pregnant women since 2003.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/ipad.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Vitamins and Medecines<br>distributed twice a year!</h2>
                    <p class="lead"><strong>Albendazole/Mebendazole</strong>, against STHs, is distributed twice yearly, via the community health centres and schools, to all the children aged 1-14 years-old and women of child-bearing age, across the country;</p>
                    <p class="lead"><strong>Praziquantel</strong>, against schistosomiasis, is distributed once a year by the school-teachers to all the school-enrolled children aged 7-14 years-old in the 18 endemic districts. It is also distributed via the community health centres to all the children age 5-7 years-old and all the non-enrolled school-age children (7-14 years-old).</p>
                    <p class="lead">SMSs are used trough
                        <a target="_blank" href="http://www.rapidpro.io/">RapiPro</a> to report stock-out, and to ensure the efficacity of distribution to targeted vulnerable population.
                    </p>
                    <p class="lead"><strong>Vitamins</strong> are given to children in order to pariate the deficiency of vitamins and combat malnutrition.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/dog.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Each day of the SMME, We collect data <br>using simple mobile  phones </h2>
                    <p class="lead">Data are collected at the grass-root level, accessed up trought till to the MoH.  Decision are made to ressuply HoH facilities which experience stock-out.</p>
                    <p class="lead">At the end of each each partenair can measure the performances of his team, and project the next step for the good of Burundian children and mothers!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/phones.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with us and contribute:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/UNICEFBurundi" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCNJ2vR4Uh9znDgrLhOuE4eg" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">What ?</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">How ?</a>
                        </li>
                        {% if user.is_authenticated %}
                            {% if user.is_active %}
                            <li>
                                <a class="page-scroll" href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}?next=/"><i class="glyphicon glyphicon-lock"></i> Logout</a>
                            </li>
                            {% endif %}
                            {% else %}
                            <li>
                                <a class="page-scroll" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                    <p class="copyright text-muted small">&copy; {% now "Y" %} <span class="separator">|</span> Powered by Open-Source. <span class="separator"> | </span>  Bootstrap Theme by <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
